.swiper-container {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .swiper-slide {
    flex-shrink: 0;
    width: calc(30% - 10px);
    margin-right: 20px;
  }
  
  /* .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #333;
    opacity: 1;
  } */
